.tablebox{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top:10px;
}

.app-header{
    text-align: center;
}

.react-bs-select-all{
    display: none;
}

li[title="last page"] { 
    display: none;
}

:focus {
    outline: 0;
}
