.tablebox{
    margin: 10px 10px 10px 10px;
}

.app-header{
    text-align: center;
}

.react-bs-select-all{
    display: none;
}

li[title="last page"] { 
    display: none;
}

:focus {
    outline: 0;
}

.icon{
    width: 20px;
}
